# Credentials
.env
Sources/Config/TURNConfig.plist

# Xcode
*.xcuserdata
*.xcworkspace/xcuserdata
DerivedData/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
node_modules/
package-lock.json
package.json
