<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>WAWARide</string>
	<key>CFBundleName</key>
	<string>Wawa Ride</string>
	<key>CFBundleIdentifier</key>
	<string>com.wawaride.app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>bluetooth-le</string>
		<string>location-services</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wawa Ride precisa da sua localização para mostrar sua posição no mapa do grupo.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wawa Ride precisa da sua localização para mostrar sua posição no mapa do grupo.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth é usado para comunicação mesh com motociclistas próximos, mesmo sem internet.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>location</string>
	</array>
</dict>
</plist>
